*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  /* background-color: rgba(59, 47, 113, 0.699); */
  background-image: url('master-bg.jpg');
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
  color: white;
  width: 100vw;
  height: 100vh;
}